<%= form_for @user, :url => password_reset_path(@token), :html => {:role => 'form', :method => :put} do |f| %>
  <div class="form-group">
    <label for="password">Passwort</label>
    <%= f.password_field :password, {class:'form-control', id: 'password'} %>
  </div>
  <%= hidden_field_tag :token, @token %>
  <%= submit_tag "Senden", {class: 'btn btn-default'} %>
<% end %>
