<div class="panel panel-default">
  <div class="panel-heading">
    <%= icon(:list, 2) %>
    Ich biete folgende Kurse an:
  </div>
  <div id="user_courses" class="panel-body">
      <% @user_courses.each do |course| %>
        <%= render partial: "course", locals: {
          course: course,
          url: destroy_mentorship_course_path(course),
          method: :delete,
          icon_type: "minus-square",
          button: "Nicht mehr anbieten" } %>
      <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= icon(:list, 2) %>
    Andere Kurse
  </div>
  <div id="other_courses" class="panel-body">
    <% @other_courses.each do |course| %>
      <%= render partial: "course", locals: {
        course: course,
        url: make_mentorship_course_path(course),
        method: :post,
        icon_type: "plus-square",
        button: "Anbieten" } %>
    <% end %>
  </div>
</div>
