<div class="panel panel-default">
  <div class="panel-heading">
    <%= icon(:list, 2) %>
    Aktuelle Kurse
  </div>
  <div id="active" class="panel-body">
    <% @active_courses.each do |course| %>
      <%= render partial: "course", locals: { course: course, button: "Deaktivieren", icon_type: "minus-square" } %>
    <% end %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= icon(:list, 2) %>
    Andere Kurse
  </div>
  <div id="inactive" class="panel-body">
    <% @inactive_courses.each do |course| %>
      <%= render partial: "course", locals: { course: course, button: "Aktivieren", icon_type: "plus-square" } %>
    <% end %>
  </div>
</div>
